/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9e9e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  background-color:#fafafa;
  min-height: 100vh;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}

/* Header */

.header {
  height: 10vh;
  display: flex;
  background-color: #e9e9e9;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: solid .5px rgba(0, 0, 0, 0.555);
}

/* Side Bar */

.sidebarLeft{
  width: 20%;
  min-height: 100vh;
  float: left;
  padding: 15em 2em;
}

.sidebarLeft ul {
list-style-type: none;
margin: 0;
padding: 0;
background-color: #f1f1f1;
border: 1px solid #555;
overflow: hidden;
}

.sidebarLeft li a {
display: block;
color: #000;
padding: .8em .6em;
text-decoration: none;
}

.sidebarLeft li {
text-align: center;
}

.sidebarLeft li a.active {
background-color: tomato;
color: white;
}

.sidebarLeft li a:hover:not(.active) {
background-color: #555;
color: white;
}

.sidebarLeft:after {
  content: "";
  display: table;
  clear: both;
}

/* Main */

.main {
  float: right;
  width: 80%;
  min-height: 100vh;
  padding: 4em 1em;
}

/* Photo Box */

.photobox {
  background-color: #fafafa;
  box-shadow: 1px 3px 15px;
  padding: 25px;
  max-width: 1080px;
}

.sm-photobox {
  background-color: #fafafa;
  box-shadow: 1px 3px 15px;
  padding: 25px;
  max-width: 720px;
}

/* Footer */

footer {
  font-size: .8em;
  margin: 40px;
  color: #999;
}

footer .content { display: inline; }

footer a {
  margin-left: 30px;
  color: #777;
}

@media screen and (max-width: 1000px) {
  .sidebarLeft li a {
    font-size: .9em;
  }
}

@media screen and (max-width: 900px) {
  .main {
    width: 100%;
    min-height: 50vh;
    display: block;
    float: none;
    position: relative;
    justify-content: center;
    margin: 2em auto;
  }

  .sidebarLeft{
    display: block;
    width: 100%;
    min-height: 0;
    padding: 0;
    margin-top: 0;
    float: none;
    position: relative;
  }

  .sidebarLeft li a {
    padding: .4em .2em;
    }
}